@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}

body.active {
    background: #73C883;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #73C883; 
    transition: 0.5s;
}

#dFantasma {
    height: 100vh; 
    display: flex;
    align-items: center;
}


.formBx {
    width: 40%;
    height: 93vh;
    background: #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    margin: 0 auto;

}

.formBx.active {
    left: 50%;
}

.formBx form {
    left: 0;
    width: 100%;
    padding: 0px 50px 0px 50px;
    transition: 0.5s;
    height: auto;
}

.formBx.signinForm {
    transition-delay: 0.25s;
}

.formBx.active signinForm {
    left: -100%;
    transition-delay: 0s;
}

.formBx form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBx form h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}

.formBx form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: solid 1px solid #333;
}

.formBx .form form input[type="submit"]{
    background: purple;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
} 

.formBx form .forgot {
    color: #333;
}

a  {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

.log {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-around;
}

.logo {
    width: 80px;
    height: 80px;
}

.profile {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 15px;
    border-radius: 100%;
}
.submit {
    background-color: #21e423;
    border-radius: 30px;
    border: none;
    transition: opacity 0.5s ease-out;
}

.submit:hover {
    opacity: 0.6;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #73C883 50%, white 50%);
    min-height: 100vh;
}

.left-column {
    width: 50%; 
    float: left; 
    padding: 20px;
    margin-right: 50%;
    margin-top: -5%;
    width: 45%;
    height: 60%;
    background-color: #fff;
    border-radius: 10px;

}

.right-column {
    width: 50%; 
    float: left; 
    text-align: center;
    margin-left: 50%;
    
}

.profile-image {
    max-width: 450px; 
    max-height: 450px; 
    width: 100%; 
    height: auto; 
    border-radius: 
    display: block; 
    margin: 0 auto; 
    margin-top: -55%;
}

.edit-button {
    position: absolute;
    bottom: 18%;
    right: 23%;
    background-color: #73C883; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-butto {
    position: absolute;
    bottom: 18%;
    left: 23%;
    background-color: #fff; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.left-column button {
    border-radius: 10px;
    background-color: #73C883; 
    color: white;
    border: none;
    padding: 5px 10px;
}

.left-column h2 {
    margin-top: 0; 
}


.separator {
    border-top: 1px solid #ccc; 
    margin-top: 20px; 
    padding-top: 20px; 
}

.left-column p {
    margin-top: 0; 
    margin-bottom: 15px;
    margin-left: 30px;
}

.left-column h1 {
    margin-top: 0;
    margin-bottom: 80px; 
    margin-left: 300px;
}

.left-column h2 {
    margin-top: 0; 
    margin-bottom: 20px; 
}
